<template>
    <div id="app">
        <div class="top-menu">
                <div class="logo">
                    ZIPSearcher.com
                </div>
                <a class="menu-item" href="#">Search Zipcodes</a>
                <a class="menu-item" href="#How">How to use</a>


        </div>
        <div class="showtoadmin">
            <a class="menu-item" href="/import_street/">Import streets</a>
            <a class="menu-item" href="/import_city/">Import Cities</a>
        </div>
        <div class="half">
            <h1>Search ZIP Codes in Israel :
            </h1>
            <!-- :{{this.selected_city}} -->
            <!-- city_options:{{city_options.length}} -->
            <div class="showtoadmin">
                street_options:{{street_options.length}}<br>
                this.selected_street {{this.selected_street}}
            </div>



            <p>
                City
                <v-select
                    :debounce="250"
                    :value.sync="selected_city_model"
                    :on-search="getCityOptions"
                    :options="city_options"
                    placeholder="Enter city name in Israel"
                    label="name"

                    :on-change="citySelected"
                >
                </v-select>
                <!-- <autocomplete
                    :url=this.cityurl
                    anchor="name"
                    label="writer"
                    :on-select="citySelected"
                    :custom-params="{format:'json'}"
                    >
                </autocomplete> -->
            </p>
             <p v-if="selected_city.name!=''">
                Street

                <v-select
                    :debounce="250"
                    :value.sync="selected_street_model"
                    :options="street_options"
                    placeholder="Enter street name"
                    label="name"
                    :on-change="streetSelected"
                >
                </v-select>
               <!--  <autocomplete
                    :url=this.streeturl
                    anchor="name"
                    label="writer2"
                    :on-select="streetSelected"
                    :custom-params="{format:'json'}"
                    >
                </autocomplete> -->
            </p>
            <p v-if="selected_street.name!=''">
                House Number<br>
                <input type="text" v-model="selected_house" class="house-number" placeholder="מספר בית"  />

            </p>
            <!-- <p>
                Entrance <br>
                <select placeholder="כניסה" v-model="selected_entrance" >
                    <option value="" selected>כניסה</option>
                    <option value="א">א</option>
                    <option value="ב">ב</option>
                    <option value="ג">ג</option>
                    <option value="ד">ד</option>
                    <option value="ה">ה</option>
                    <option value="ו">ו</option>
                    <option value="ז">ז</option>
                    <option value="ח">ח</option>
                    <option value="ט">ט</option>
                    <option value="י">י</option>
                </select>
            </p> -->
            <div v-if="this.getting_zip==true">
                Getting zip...
            </div>

            <p v-if="this.getting_zip==false">
                <div v-on:click="makeSearch" class="search-button">Search</div>
                <div v-on:click="clear"  class="cancel">Clear</div>
            </p >
            <p v-if="this.result_zip">
                ZIPCODE
               <div class="zipcode"> {{result_zip}}</div>
               <div v-if="zip_error"class="error">
                   Error , {{zip_error}}
               </div>
            </p>

        </div>

        <div class="half">
            <h1>Recent searches</h1>
            <ul>
                <li v-for ="result in sortedRecent">{{result.full_address}} ZIP:<b>{{result.zip_code}}</b> <i v-on:click="remove(result.full_address)" class="fa fa-close"></i></li>
            </ul>

        </div>

        <div class="footer">

            <div class="half">
                <div class="adv">
                    Adv here
                </div>
            </div>
            <div class="half">
                <div class="adv">
                    Adv here #2
                </div>
            </div>


        </div>

        <div class="footer">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, doloribus distinctio natus, sed at, et veniam facere voluptatem illum saepe neque dolore recusandae incidunt sit necessitatibus. Non voluptatibus architecto voluptatem.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto animi nesciunt voluptas cum, consectetur facere repudiandae dicta itaque tempore! Enim similique laborum, inventore quaerat temporibus sed eaque in! Culpa, earum!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, doloribus distinctio natus, sed at, et veniam facere voluptatem illum saepe neque dolore recusandae incidunt sit necessitatibus. Non voluptatibus architecto voluptatem.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, doloribus distinctio natus, sed at, et veniam facere voluptatem illum saepe neque dolore recusandae incidunt sit necessitatibus. Non voluptatibus architecto voluptatem.

            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto animi nesciunt voluptas cum, consectetur facere repudiandae dicta itaque tempore! Enim similique laborum, inventore quaerat temporibus sed eaque in! Culpa, earum!
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, doloribus distinctio natus, sed at, et veniam facere voluptatem illum saepe neque dolore recusandae incidunt sit necessitatibus. Non voluptatibus architecto voluptatem.
            <br>
            <a name="How">


                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto animi nesciunt voluptas cum, consectetur facere repudiandae dicta itaque tempore! Enim similique laborum, inventore quaerat temporibus sed eaque in! Culpa, earum!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores, doloribus distinctio natus, sed at, et veniam facere voluptatem illum saepe neque dolore recusandae incidunt sit necessitatibus. Non voluptatibus architecto voluptatem.

                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto animi nesciunt voluptas cum, consectetur facere repudiandae dicta itaque tempore! Enim similique laborum, inventore quaerat temporibus sed eaque in! Culpa, earum!
                <br>
                <a href="https://mypost.israelpost.co.il/איתור-מיקוד"> mypost.israelpost.co.il/איתור-מיקוד</a>

            </a>

        </div>

    </div>



</template>

<script>
//import Autocomplete from 'vue2-autocomplete-js'
var Vue = require('vue');
import vSelect from "vue-select"
import axios from 'axios'
import VueAxios from 'vue-axios'
import VueLocalStorage from 'vue-localstorage'
Vue.use(VueLocalStorage)

Vue.use(VueAxios, axios)
export default {
    name: 'app',
    data () {
        return {
            msg: 'Israel ZIPcodes',
            cityurl:window.location.protocol+'//'+window.location.host+"/api/cities/",
            city_options: [],
            streeturl:'',
            selected_city:{'name':''},
            selected_city_model:'',
            selected_street_model:'',
            selected_street:{},
            street_options: [],
            selected_house:null,
            selected_entrance:null,
            result_zip:null,
            getting_zip:false,
            syncedVal:null,
            zip_error:null,
            recent_searches:{}
        }
    },
    components: {
        //Autocomplete
        vSelect
    },

    methods: {
        clear(){
            this.selected_city_model='...'
            setTimeout(()=>this.selected_city_model='',0)
            this.selected_street_model='...'
            setTimeout(()=>this.selected_street_model='',0)
            this.selected_street={'name':''}
            this.selected_house=''

        },
        citySelected(obj){
            this.selected_street_model='...'
            setTimeout(()=>this.selected_street_model='',0)
            this.selected_street={'name':''}
            this.selected_house=''
            //this.selected_street_model=''

            if (obj && obj.hasOwnProperty('name')){
                this.selected_city=obj
                this.streeturl=window.location.protocol+'//'+window.location.host+"/api/streets/"+obj.name
                this.fetchStreetOptions(null)
            }
            this.result_zip=null
        },
        streetSelected(obj){

            if (obj!==null){
                //console.log('???!!???', typeof(obj), obj, obj!=="")
                this.selected_street=obj
                this.streeturl=window.location.protocol+'//'+window.location.host+window.location.protocol+'//'+"api/streets/"+this.selected_city.name

            }

            this.result_zip=null
        },
        makeSearch(){
            // console.log('this', this)
            this.result_zip=null

                var api=window.location.protocol+'//'+window.location.host+'/getzip/' + "?city="+encodeURIComponent(this.selected_city.name)+"&street="+encodeURIComponent(this.selected_street.name)+"&house="+encodeURIComponent(this.selected_house)+"&entrance="+encodeURIComponent(this.selected_entrance)

            try{
                var full_address=this.selected_city.name+' '+this.selected_street.name+' '+this.selected_house
                var cached_result=this.recent_searches[full_address]
            }
            catch(err){

            }


            //Check cache for zip result
            if (typeof(cached_result)=="undefined" || cached_result==null) {

                this.getting_zip=true;
                Vue.axios.get(api).then((response) => {
                    //console.log('RESPONSE',response)
                    if (response.data.hasOwnProperty('zip')){
                        this.result_zip=response.data.zip
                        this.zip_error=response.data.zip_error

                        if (!response.data.zip_error && response.data.zip!=''){
                            var full_address=''
                            if(typeof(this.selected_city.name)!='undefined'){
                                full_address+=this.selected_city.name+' '
                            }
                            if(typeof(this.selected_street.name)!='undefined'){
                                full_address+=this.selected_street.name+' '
                            }
                            if(typeof(this.selected_house)!='undefined'){
                                full_address+=this.selected_house
                            }



                            //console.log('REEEE',this.recent_searches, 'THIS',this)
                            this.recent_searches[full_address]={
                                'full_address':full_address,
                                'zip_code':response.data.zip,
                                'date_created':new Date()
                            }
                            var recent_searches=JSON.stringify(this.recent_searches)
                            // console.log('will wrrite', recent_searches)
                            Vue.localStorage.set('recent_searches',recent_searches)
                        }



                        // console.log('written', Vue.localStorage.get('recent_searches') )
                       this.$forceUpdate()
                    }
                    else{
                        this.result_zip='Error. Cannot get ZIP by address'
                    }
                    this.getting_zip=false;
                    //console.log(response.data)
                })

            }
            else{
                this.result_zip=cached_result.zip_code
            }




        },

        getCityOptions() {



            Vue.axios.get(this.cityurl).then((response) => {
                // console.log('RESPONSE',response)
                this.city_options = response.data

                //this.getting_zip=false;
              //console.log(response.data)
            })



        },
        fetchStreetOptions(loading){
            this.$http.get(this.streeturl, {
                q: null // search
            }).then(resp => {
                console.log('WORK st!',resp)
                this.street_options = resp.data
                if (loading){
                    loading(false)
                }

            })
        },
        getStreetOptions(search, loading) {
            loading(true)
            this.fetchStreetOptions(loading)
        },
        remove(full_address){
            delete this.recent_searches[full_address]
            var recent_searches=JSON.stringify(this.recent_searches)
            Vue.localStorage.set('recent_searches',recent_searches)
            this.$forceUpdate()
        }

    },
    computed: {



        sortedRecent: {
            cache:false,
            get:function() {

                var prepared=[]
                for (var zip in this.recent_searches){
                    prepared.push(this.recent_searches[zip])
                }
                // console.log('PREPPP', prepared)
                prepared.sort( ( a, b) => {
                    return new Date(b.date_created) - new Date(a.date_created);
                });
                return prepared;
            }
        }
    },

    mounted(){
        this.getCityOptions()
        var _recent=Vue.localStorage.get('recent_searches')
        if (typeof(_recent)=="undefined" || _recent==null){
            this.recent_searches={}
        }
        else{

            this.recent_searches=JSON.parse(_recent)


        }
    }

}
</script>

<style  scoped>
#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 30px;
}

h1, h2 {
    font-weight: normal;
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: #42b983;
}

.zipcode{
    font-size: 20px;
    font-weight: bold;
}
.half{
    display: inline-block;
    float: left;
    width: 50%;

}
.top-menu{
    display: table;

}
.logo{
    display: table-cell;
    font-weight: bold;
    border-bottom: 2px dashed #ccc;
    padding-right: 10px;
}
.top-menu .menu-item{

}
.top-menu .menu-item{
    text-decoration: none;
    cursor: pointer;

    display: table-cell;
    background: #f4f4f4;
    color: #000;
    padding: 10px;
}
.house-number{
        width: 100%;
        -moz-appearance: none;
        line-height: 1.42857143;
        font-size: 1em;
        height: 34px;
        display: inline-block;
        border: 1px solid #ccc;
        outline: none;
        margin: 0;
        padding: 0 .5em;
        width: 100%;
        max-width: 100%;
        background: none;
        position: relative;
        box-shadow: none;
        float: left;
        clear: none;
        box-sizing: border-box;
    }
.search-button{
    background-color: #EEEEEE;
    border: #aaa;
    display: inline-block;
    padding: 10px 40px;
    cursor: pointer;
}
.fa-close{
    cursor:pointer;
}
.adv{
    border:1px solid #ccc;
    background:#fcfcfc;
    width: 300px;
    height: 100px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
.footer{
    display: block;
    clear: both;
    margin-top: 100px;
    width: 100%;
}
.showtoadmin{
    border:2px dashed #EFD2DE;
    display: none;
}






</style>
