<!DOCTYPE html>
{% load render_bundle from webpack_loader %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Search ZipCodes in Israel </title>
    <script src="https://use.fontawesome.com/7430b42398.js"></script>
</head>
<body>
<div id="app"></div>
{% render_bundle 'main' %}

{%if request.user.is_staff%}
<style>

.showtoadmin{
    display: block!important;
}
</style>
{%endif%}
</body>
</html>
